<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">All Songs</h5>
    <ul class="list-group">
      <div *ngFor="let song of songs | slice:0:maxLen" class="d-flex justify-content-between songs">
        <li class="list-group-item"><span class="font-weight-bold">{{ song.name }}</span> <span class="text-muted ml-4">{{
            song.author }}</span></li>
        <button *ngIf="selectedList && !checkSongInSelectedList(song)" (click)="addSong(song)" class="btn align-self-center m-0 btn-success"><i class="fas fa-plus"></i></button>
      </div>
      <button *ngIf="maxLen < songs.length" type="button" class="btn btn-primary mt-3" (click)="showMoreSongs()">SHOW MORE</button>
    </ul>
  </div>
</div>
